awscli==1.20.42
botocore==1.21.42
certifi==2019.9.11
cffi==1.14.0
chardet==3.0.4
colorama==0.4.1
cryptography==2.8
docutils==0.15.2
idna==2.8
jmespath==0.10.0
jwcrypto==0.7
pyasn1==0.4.8
pycparser==2.19
python-dateutil==2.8.0
PyYAML==5.1.2
requests==2.22.0
rsa==3.4.2
s3transfer==0.5.0
six==1.13.0
tqdm==4.36.1
urllib3==1.25.6
